komodo.perpixai.ir {
    reverse_proxy komodo-core:9120
}

cdn-dashboard.perpixai.ir {
	reverse_proxy http://rustfs:9001
}

cdn.perpixai.ir {
	reverse_proxy http://rustfs:9000
}


cdn.perpixai.com {
		reverse_proxy http://rustfs:9000
}

adminer.perpixai.ir {
	reverse_proxy http://adminer:8080
}

api.perpixai.ir {
	reverse_proxy http://perpix-api:8000
}

app.perpixai.ir {

}

perpixai.ir {
	reverse_proxy http://perpix-main-landing:8080
}

