
http://api.perpixai.com {
	reverse_proxy http://perpix-api:8000
}

http://app.perpixai.com {
	reverse_proxy http://perpix-app:80
}

http://cdn-dashboard.perpixai.com {
	reverse_proxy http://rustfs:9001
}

http://cdn.perpixai.com {
	reverse_proxy http://rustfs:9000
}

http://beszel.perpixai.com {
	reverse_proxy http://beszel:8090
}

http://monitor.perpixai.com {
	reverse_proxy http://beszel:8090
}


http://pgadmin.perpixai.com {
	reverse_proxy http://adminer:8080
}




http://api.perpix.ir {
	reverse_proxy http://perpix-api:8000
}

http://app.perpix.ir {
	reverse_proxy http://perpixai-app:80
}

http://cdn-dashboard.perpix.ir {
	reverse_proxy http://rustfs:9001
}

http://cdn.perpix.ir {
	reverse_proxy http://rustfs:9000
}

http://beszel.perpix.ir {
	reverse_proxy http://beszel:8090
}

http://monitor.perpix.ir {
	reverse_proxy http://beszel:8090
}


http://pgadmin.perpix.ir {
	reverse_proxy http://adminer:8080
}




http://api.perpixai.ir {
	reverse_proxy http://perpix-api:8000
}

http://app.perpixai.ir {
	reverse_proxy http://perpixai-app:80
}

http://cdn-dashboard.perpixai.ir {
	reverse_proxy http://rustfs:9001
}

http://cdn.perpixai.ir {
	reverse_proxy http://rustfs:9000
}

http://beszel.perpixai.ir {
	reverse_proxy http://beszel:8090
}

http://monitor.perpixai.ir {
	reverse_proxy http://beszel:8090
}


http://pgadmin.perpixai.ir {
	reverse_proxy http://adminer:8080
}
