
http://api.perpixai.com {
	reverse_proxy http://perpix-api:8000
}

http://app.perpixai.com {
	reverse_proxy http://perpix-app:80
}

http://cdn-dashboard.perpixai.com {
	reverse_proxy http://rustfs:9001
}

http://cdn.perpixai.com {
	reverse_proxy http://rustfs:9000
}


http://komodo.perpixai.com {
	reverse_proxy http://komodo-core:9120
}


http://pgadmin.perpixai.com {
	reverse_proxy http://adminer:8080
}



http://api.perpixai.ir {
	reverse_proxy http://perpix-api:8000
}

http://app.perpixai.ir {
	reverse_proxy http://perpix-app:80
}

http://cdn-dashboard.perpixai.ir {
	reverse_proxy http://rustfs:9001
}

http://cdn.perpixai.ir {
	reverse_proxy http://rustfs:9000
}

http://komodo.perpixai.ir {
	reverse_proxy http://komodo-core:9120
}


http://pgadmin.perpixai.ir {
	reverse_proxy http://adminer:8080
}

